.theme-black {
  --theme-background-color: #000000;
  --theme-color: var(--color-white);

  /* button - filled */
  --theme-button-border-color: var(--color-white);
  --theme-button-background-color: var(--theme-background-color);
  --theme-button-text-color: var(--color-white);

  /* button - filled:hover */
  --theme-button-border-color-hover: var(--color-white);
  --theme-button-background-color-hover: var(--theme-background-color);
  --theme-button-text-color-hover: var(--color-white);

  /* button -  ghost */
  --theme-button-ghost-background-color: transparent;
  --theme-button-ghost-border-color: var(--color-white);
  --theme-button-ghost-text-color: var(--color-white);

  /*  button - ghost:hover */
  --theme-button-ghost-background-color-hover: var(--theme-background-color);
  --theme-button-ghost-border-color-hover: var(--color-white);
  --theme-button-ghost-text-color-hover: var(--color-white);

  /* Footer */
  --theme-footer-text-color: var(--color-white);

  /* Inline Navigation */
  --theme-inline-navigation-color: var(--color-white);

  /* Swiper */
  --theme-swiper-primary-color: var(--color-white);
  --theme-swiper-secondary-color: var(--color-tertiary-lighten-2);

  /* Form */
  --form-input-color: var(--color-white);
  --form-input-color-hover: var(--color-white);
  --form-input-color-focus: var(--color-white);
  --form-input-border-focus: 1px solid var(--color-white);
}
