.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
  overflow: hidden;
  color: var(--theme-button-text-color);
  font-weight: 700;
  font-size: var(--body-font-size);
  font-family: var(--heading-font-family);
  text-align: center;
  text-decoration: none;
  background-color: var(--theme-button-background-color);
  border: 2px solid var(--theme-button-border-color);
  border-radius: 56px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  line-height: 20px;
  word-break: break-word;

  .nuxt-icon {
    transition: transform 0.2s ease;
  }

  &:hover,
  &:active {
    background-color: var(--theme-button-background-color-hover);
    border-color: var(--theme-button-border-color-hover);
    color: var(--theme-button-text-color-hover);
  }

  &--ghost {
    color: var(--theme-button-ghost-text-color);
    border-color: var(--theme-button-ghost-border-color);
    background-color: var(--theme-button-ghost-background-color);

    &:hover,
    &:active {
      background-color: var(--theme-button-ghost-background-color-hover);
      border-color: var(--theme-button-ghost-border-color-hover);
      color: var(--theme-button-ghost-text-color-hover);
    }
  }

  &--secondary {
    background-color: var(--color-tertiary);
    color: var(--color-secondary-lighten-4);
    border-color: var(--color-tertiary);

    &:hover {
      background-color: var(--color-tertiary-darken-2);
      border-color: var(--color-tertiary);
      color: var(--color-secondary);
    }

    &--ghost {
      color: var(--color-tertiary);
      background-color: transparent;
      border: 2px solid var(--color-tertiary);

      &:hover {
        color: var(--color-secondary);
        background-color: var(--color-tertiary-darken-2);
        border-color: var(--color-tertiary);
      }
    }
  }

  &--success {
    background-color: var(--color-success);
    border-color: var(--color-success);

    &:hover {
      background-color: var(--color-success-dark);
      border-color: var(--color-success-dark);
    }

    &:active {
      background-color: var(--color-success-darkest);
      border-color: var(--color-success-darkest);
    }
  }

  &--warning {
    background-color: var(--color-warning);
    border-color: var(--color-warning);

    &:hover {
      background-color: var(--color-warning-dark);
      border-color: var(--color-warning-dark);
    }

    &:active {
      background-color: var(--color-warning-darkest);
      border-color: var(--color-warning-darkest);
    }
  }

  &--error {
    background-color: var(--color-error);
    border-color: var(--color-error);

    &:hover {
      background-color: var(--color-error-dark);
      border-color: var(--color-error-dark);
    }

    &:active {
      background-color: var(--color-error-darkest);
      border-color: var(--color-error-darkest);
    }
  }

  &--white {
    color: var(--color-black);
    background-color: var(--color-white);
    border-color: var(--color-white);

    &:hover {
      color: var(--color-black);
      background-color: var(--color-white);
      border-color: var(--color-white);
    }

    &:active {
      color: var(--color-black);
      background-color: var(--color-white);
      border-color: var(--color-white);
    }
  }

  &--small {
    padding: 14px 24px;
    font-size: 14px;
  }

  &--icon {
    padding: 18px 32px;
    font-size: var(--body-font-size);

    .button__text {
      display: flex;
      margin-left: 8px;
    }
  }

  &--ghost {
    padding: 18px 32px;
    font-weight: 700;
    font-size: var(--body-font-size);
    border-radius: 56px;
    transition: all 0.3s ease-in-out;

    color: var(--theme-button-ghost-text-color);
    border: 2px solid var(--theme-button-ghost-border-color);
    background-color: var(--theme-button-ghost-background-color);

    &:hover {
      color: var(--theme-button-ghost-text-color-hover) !important;
      background-color: var(--theme-button-ghost-background-color-hover);
      border-color: var(--theme-button-ghost-border-color-hover);
      opacity: 1;
    }

    &.button {
      &--primary {
        color: var(--theme-button-ghost-text-color);
      }

      &--success {
        color: var(--color-success);
      }

      &--warning {
        color: var(--color-warning);
      }

      &--error {
        color: var(--color-error);
      }

      &:hover {
        color: var(--color-primary-darken-2);
      }

      &--white {
        color: var(--color-white);

        &:hover {
          color: var(--color-black);
        }
      }
    }
  }

  &--link {
    padding: 10px 0;
    color: var(--theme-button-text-color);
    font-weight: 700;
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 0;
    font-size: var(--body-font-size);
    border-bottom: 2px solid var(--theme-button-border-color);
    transition: all 0.3s ease-in-out;

    &:hover {
      color: var(--theme-button-ghost-text-color-hover);
      background-color: transparent;
    }

    &.button {
      color: var(--color-white);
      border-bottom: 2px solid var(--color-white);
      font-weight: 700;

      &:hover {
        color: var(--theme-button-ghost-text-color-hover);
        border-bottom: 2px solid var(--theme-button-ghost-text-color-hover);
      }

      &--white {
        &:hover {
          color: var(--theme-button-ghost-text-color-hover);
          border-bottom: 2px solid var(--theme-button-ghost-text-color-hover);
          background: none;
        }
      }
    }
  }

  &--center {
    left: 50%;
    transform: translateX(-50%);
  }

  &--right {
    left: 100%;
    transform: translateX(-100%);
  }

  &--disabled {
    &:disabled {
      color: var(--color-white);
      background-color: var(--color-gray-62);
      border-color: var(--color-gray-62);
      cursor: not-allowed;
      opacity: 0.6;
    }
  }

  &__icon {
    margin: -2px 0;
  }

  &__icon-after {
    margin: -2px 0;
    margin-left: 8px;

    svg {
      font-size: 24px;
    }
  }

  &--loading {
    .button__text,
    .button__icon {
      color: transparent;
    }
  }

  &__loading-icon {
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    font-size: 1.25em;

    svg {
      animation: spin 1s linear infinite;
    }
  }

  &.button--icon {
    letter-spacing: 0;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
