@import 'swiper/swiper-bundle.min.css';

.swiper {
  padding: 48px 0 90px;
}

.swiper-slide {
  height: auto;
}

.container--full {
  @media (--viewport-lg-min) {
    .swiper-button-prev {
      right: calc(
        ((100vw - var(--container-width)) / 2) + 64px + var(--grid-gutter-half)
      );
    }
    .swiper-button-next {
      right: calc(
        ((100vw - var(--container-width)) / 2) + var(--grid-gutter-half)
      );
    }
  }
}

.swiper-button-next,
.swiper-button-prev {
  top: 89%;
  margin-bottom: 20px;
  margin-top: 0;
  border: 1px solid var(--color-primary-lighten-4);
  border-radius: 50%;
  width: 40px;
  height: 40px;

  @media (--viewport-xs-max) {
    top: 89%;
  }

  @media (--viewport-sm-min) {
    top: 89%;
  }

  @media (--viewport-md-min) {
    top: 87%;
  }

  @media (--viewport-lg-min) {
    top: 85%;
  }

  @media (--viewport-xl-min) {
    top: 87%;
  }

  &:after {
    font-size: 14px;
    color: var(--color-primary);
  }

  &:hover {
    transform: translateY(1px);
  }

  &:active {
    transform: translateY(2px);
  }
}

.swiper-button-next {
  right: 0;

  &:after {
    margin-left: 2px;
  }
}

.swiper-button-prev {
  left: auto;
  right: 54px;

  @media (--viewport-sm-min) {
    right: 64px;
  }

  &::after {
    margin-right: 2px;
  }
}

.swiper-scrollbar-drag {
  background: var(--color-primary);
}

.swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
  left: 0;
  background: var(--color-primary-lighten-4);
}

.swiper-horizontal > .swiper-scrollbar {
  max-width: 92%;
  margin-bottom: 16px;
  width: 70%;

  @media (--viewport-xs-max) {
    width: 70%;
  }

  @media (--viewport-sm-min) {
    width: 86%;
  }

  @media (--viewport-md-min) {
    width: 88%;
  }

  @media (--viewport-lg-min) {
    width: 90%;
  }

  @media (--viewport-xl-min) {
    width: 92%;
  }
}
