.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
  opacity: 1;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/* Bounce in modal */
.bounce-enter-active {
  animation: bounce-in 0.5s;
}

.bounce-leave-active {
  animation: bounce-in 0.5s reverse;
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1);
  }
}

/* slide in from side */
.slide-enter-active {
  animation: slide-in 0.3s;
}

.slide-leave-active {
  display: none;
}

@keyframes slide-in {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

/* slide in from side */
.slide-right-full-enter-active {
  animation: slide-in 0.3s;
}

.slide-right-full-leave-active {
  animation: slide-in 0.3s reverse;
}

@keyframes slide-in {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

/* fade out */
.fade-out-enter-active {
  animation: fade-out 0.5s;
}

.fade-out-leave-active {
  animation: fade-out 0.5s reverse;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* fade in */
.fade-in-enter-active {
  animation: fade-in 0.5s;
}

.fade-in-leave-active {
  animation: fade-in 0.5s reverse;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* slide in from left side */
.slide-left-enter-active {
  animation: slide-left 0.5s;
}

.slide-left-leave-active {
  animation: slide-left 0.5s reverse;
}

@keyframes slide-left {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

/* fade in */
.fade-header-enter-active {
  position: absolute;
  animation: fade-in 0.3s;
}

.fade-header-leave-active {
  position: absolute;
  animation: fade-in 0.3s reverse;
}

@keyframes fade-header {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* slide in from right side */
.slide-right-enter-active {
  animation: slide-left 0.3s;
}

.slide-right-leave-active {
  display: none;
}

@keyframes slide-right {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

/* slide from top */
.slide-top-enter-active {
  animation: slide-top 0.3s;
}

.slide-top-leave-active {
  animation: slide-top 0.3s reverse;
}

@keyframes slide-top {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

/* slide top desktop offcanvas */
.slide-top-offcanvas-enter-active {
  animation: slide-top-offcanvas 0.3s;
}

.slide-top-offcanvas-leave-active {
  display: none;
}

@keyframes slide-top-offcanvas {
  0% {
    transform: translateY(-20%);
  }

  100% {
    transform: translateY(0);
  }
}

/* fade input */
.fade-input-enter-active {
  animation: fade-input-anim 0.3s;
}

.fade-input-leave-active {
  animation: fade-input-anim 0.3s reverse;
}

@keyframes fade-input-anim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.5;
  }
}

/* pan-right */
.pan-right-enter-active {
  animation: pan-right-enter 1s forwards;
}

.pan-right-leave-active {
  animation: pan-right-leave 0.3s forwards;
}

@keyframes pan-right-enter {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes pan-right-leave {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-20%);
    opacity: 0;
  }
}

/* search by keyword list */
.list-move,
.list-enter-active,
.list-leave-active {
  transition: all 0.3s ease;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
}

.list-leave-active {
  position: absolute;
  opacity: 0;
}

/* pan-top */
.pan-top-enter-active {
  animation: pan-top-enter 0.5s forwards;
}

.pan-top-leave-active {
  animation: pan-top-leave 0.25s forwards;
}

@keyframes pan-top-enter {
  0% {
    transform: translateY(-40%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes pan-top-leave {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-20%);
    opacity: 0;
  }
}

/* slide-top-dropdown */
.slide-top-dropdown-enter-active {
  animation: slide-top-dropdown 0.5s;
}

.slide-top-dropdown-leave-active {
  animation: slide-top-dropdown 0.25s reverse;
}

@keyframes slide-top-dropdown {
  0% {
    transform: translateY(-5%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* fade-in-search-results */
.fade-in-search-results-enter-active {
  animation: fade-in-search-results 0.5s;
}

.fade-in-search-results-leave-active {
  animation: fade-in-search-results 0.25s reverse;
}

@keyframes fade-in-search-results {
  0% {
    display: none;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
