.form-checkbox {
  display: block;
  padding-left: calc(var(--form-checkbox-width) + 8px);

  .form-checkbox-input {
    float: left;
    margin-left: calc(calc(var(--form-checkbox-width) + 8px) * -1);
  }
}

.form-checkbox-input {
  width: var(--form-checkbox-width);
  height: var(--form-checkbox-width);
  margin-top: 0.2em;
  vertical-align: top;
  background-color: transparent;
  background-image: var(--form-checkbox-background-icon);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: var(--form-checkbox-border);
  border-radius: 6px;
  appearance: none;
  print-color-adjust: exact;

  &:hover {
    background-color: transparent;
    background-image: var(--form-checkbox-background-icon-hover);
    border: var(--form-checkbox-border-hover);
  }

  &:hover ~ .form-checkbox-label {
    color: var(--form-checkbox-label-color-hover);
  }

  &.pressed {
    background-color: transparent;
    background-image: var(--form-checkbox-background-icon-pressed);
    border: var(--form-checkbox-border-pressed);
  }

  &.pressed ~ .form-checkbox-label {
    color: var(--form-checkbox-label-color-pressed);
  }

  &:checked {
    background-color: var(--form-checkbox-background-color-checked);
    background-image: var(--form-checkbox-background-icon-checked);
    border: var(--form-checkbox-border-checked);
  }

  &:checked ~ .form-checkbox-label {
    color: var(--form-checkbox-label-color-checked);
  }

  &[disabled],
  &:disabled {
    background-color: var(--form-checkbox-background-color-disabled);
    background-image: var(--form-checkbox-background-icon-disabled);
    border: var(--form-checkbox-border-disabled);
    filter: none;
    pointer-events: none;
  }

  &[disabled] ~ .form-checkbox-label,
  &:disabled ~ .form-checkbox-label {
    color: var(--form-checkbox-label-color-disabled);
  }
}
