.form-radio {
  display: block;
  padding-left: calc(var(--form-radio-width) + 8px);

  .form-radio-input {
    float: left;
    margin-left: calc(calc(var(--form-radio-width) + 8px) * -1);
  }
}

.form-radio-input {
  width: var(--form-radio-width);
  height: var(--form-radio-width);
  margin-top: 0.2em;
  vertical-align: top;
  background-color: var(--form-radio-background-color);
  background-image: var(--form-radio-background-icon);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: var(--form-radio-border);
  border-radius: 50%;
  appearance: none;
  print-color-adjust: exact;

  &:hover {
    background-color: var(--form-radio-background-color-hover);
    background-image: var(--form-radio-background-icon-hover);
    border: var(--form-radio-border-hover);
  }

  &:hover ~ .form-radio-label {
    color: var(--form-radio-label-color-hover);
  }

  &.pressed {
    background-color: var(--form-radio-background-color-pressed);
    background-image: var(--form-radio-background-icon-pressed);
    border: var(--form-radio-border-pressed);
  }

  &.pressed ~ .form-radio-label {
    color: var(--form-radio-label-color-pressed);
  }

  &:checked {
    background-color: var(--form-radio-background-color-checked);
    background-image: var(--form-radio-background-icon-checked);
    border: var(--form-radio-border-checked);
  }

  &:checked ~ .form-radio-label {
    color: var(--form-radio-label-color-checked);
  }

  &[disabled],
  &:disabled {
    background-color: var(--form-radio-background-color-disabled);
    background-image: var(--form-radio-background-icon-disabled);
    border: var(--form-radio-border-disabled);
    filter: none;
    pointer-events: none;
  }

  &[disabled] ~ .form-radio-label,
  &:disabled ~ .form-radio-label {
    color: var(--form-radio-label-color-disabled);
  }
}
