@import '_label.css';
@import '_input.css';
@import '_select.css';
@import '_dropdown-select.css';
@import '_checkbox.css';
@import '_radio.css';
@import '_enhanced-radio.css';
@import '_validation.css';

/**
 * Resets.
 */
label {
  display: inline-block;
}

::-webkit-file-upload-button {
  font: inherit;
  appearance: button;
}

select {
  word-wrap: normal;

  /* Undo the opacity change from Chrome */
  &:disabled {
    opacity: 1;
  }
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

input[type='radio'],
input[type='checkbox'] {
  box-sizing: border-box;
  padding: 0;
}

input[type='date'],
input[type='time'],
input[type='datetime-local'],
input[type='month'] {
  appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  outline-offset: -2px;
  appearance: none;
}

[type='search']::-webkit-search-decoration {
  appearance: none;
}

/**
 * Styles.
 */
.form-text {
  display: block;
  margin-top: 0.25rem;
}

.required {
  color: var(--color-primary);
}

.form-description {
  display: block;
  margin-top: 0.25rem;
  font-size: 13px;
  color: var(--form-label-color);
}
