:root {
  /* Colors
    ********************/

  /* Primary */
  --color-primary: #020420;
  --color-primary-dark: #cf1d1f;
  --color-primary-darkest: #a91719;

  /* Success */
  --color-success: #65c179;
  --color-success-dark: #5bae6d;
  --color-success-darkest: #519a61;

  /* Warning */
  --color-warning: #ffba00;
  --color-warning-dark: #e6a700;
  --color-warning-darkest: #cc9500;

  /* Input fields */
  --color-error-input: #c2575e;
  --color-error-dropdown: #cc353e;
  --color-error-text-field: #c2575e;
  --color-checkbox-filled: #e30613;

  /* Error */
  --color-error: #f26d75;
  --color-error-dark: #da626a;
  --color-error-darkest: #c2575e;

  /* Greyscale */
  --color-black: #141414;
  --color-true-black: #000;
  --color-gray-82: #3e3e3e;
  --color-gray-62: #6d6d6d;
  --color-gray-42: #666;
  --color-gray-25: #c4c4c4;
  --color-gray-16: #d9d9d9;
  --color-gray-11: #e5e5e5;
  --color-gray-6: #f1f1f1;
  --color-white: #fff;
  --color-text: #383838;
  --color-disabled: var(--color-gray-6);
  --color-base-divider: #979797;

  /* Layout colors */
  --site-background-color: var(--color-white);
}
