:root {
  /* Colors
    ********************/

  /* Primary darken */
  --color-primary-darken-1: color-mix(in srgb, var(--color-primary), black 15%);
  --color-primary-darken-2: color-mix(in srgb, var(--color-primary), black 30%);
  --color-primary-darken-3: color-mix(in srgb, var(--color-primary), black 45%); /* #1D5A55 */
  --color-primary-darken-4: color-mix(in srgb, var(--color-primary), black 55%); /* #174844 */
  --color-primary-darken-5: color-mix(in srgb, var(--color-primary), black 65%); /* #123936 */

  /* Primary lighten */
  --color-primary-lighten-1: color-mix(in srgb, var(--color-primary), white 20%);
  --color-primary-lighten-2: color-mix(in srgb, var(--color-primary), white 40%); /* #236C66 */
  --color-primary-lighten-3: color-mix(in srgb, var(--color-primary), white 60%); /* #a3c8c5 */
  --color-primary-lighten-4: color-mix(in srgb, var(--color-primary), white 75%);  /* #CCE0DF */
  --color-primary-lighten-5: color-mix(in srgb, var(--color-primary), white 90%);

  /* Secondary darken */
  --color-secondary-darken-1: color-mix(in srgb, var(--color-secondary), black 15%);
  --color-secondary-darken-2: color-mix(in srgb, var(--color-secondary), black 30%);
  --color-secondary-darken-3: color-mix(in srgb, var(--color-secondary), black 45%);
  --color-secondary-darken-4: color-mix(in srgb, var(--color-secondary), black 55%);

  /* Secondary lighten */
  --color-secondary-lighten-1: color-mix(in srgb, var(--color-secondary), white 20%);
  --color-secondary-lighten-2: color-mix(in srgb, var(--color-secondary), white 40%);
  --color-secondary-lighten-3: color-mix(in srgb, var(--color-secondary), white 60%);
  --color-secondary-lighten-4: color-mix(in srgb, var(--color-secondary), white 75%); /* #FEF6C2 */
  --color-secondary-lighten-5: color-mix(in srgb, var(--color-secondary), white 90%);

  /* Tertiary */
  --color-tertiary: #40362E;

  /* Tertiary darken */
  --color-tertiary-darken-1: color-mix(in srgb, var(--color-tertiary), black 15%); /* #362E27 */
  --color-tertiary-darken-2: color-mix(in srgb, var(--color-tertiary), black 30%); /* #2D2620 */
  --color-tertiary-darken-3: color-mix(in srgb, var(--color-tertiary), black 45%); /* #231E1A */
  --color-tertiary-darken-4: color-mix(in srgb, var(--color-tertiary), black 55%); /* #1D1815 */

  /* Tertiary lighten */
  --color-tertiary-lighten-1: color-mix(in srgb, var(--color-tertiary), white 20%); /* #665D58 */
  --color-tertiary-lighten-2: color-mix(in srgb, var(--color-tertiary), white 40%); /* #8C8781 // #87807b */
  --color-tertiary-lighten-3: color-mix(in srgb, var(--color-tertiary), white 60%); /* #B2AFAB */
  --color-tertiary-lighten-4: color-mix(in srgb, var(--color-tertiary), white 75%); /* #CFCDCB */
  --color-tertiary-lighten-5: color-mix(in srgb, var(--color-tertiary), white 90%); /* #ECEBEA */
  --color-tertiary-lighten-6: color-mix(in srgb, var(--color-tertiary), white 95%); /* #F5F5F5 */

  /* Quaternary */
  --color-quaternary: #ADA9A5;

  /* Quaternary darken */
  --color-quaternary-darken-1: color-mix(in srgb, var(--color-quaternary), black 15%); /* #92908C */
  --color-quaternary-darken-2: color-mix(in srgb, var(--color-quaternary), black 30%); /* #797674 */
  --color-quaternary-darken-3: color-mix(in srgb, var(--color-quaternary), black 45%);  /* #5F5D5B */
  --color-quaternary-darken-4: color-mix(in srgb, var(--color-quaternary), black 55%); /* #4E4C4A */

  /* Quaternary lighten */
  --color-quaternary-lighten-1: color-mix(in srgb, var(--color-quaternary), white 20%); /* #BDBAB6 */
  --color-quaternary-lighten-2: color-mix(in srgb, var(--color-quaternary), white 40%); /* #CDCBC9 */
  --color-quaternary-lighten-3: color-mix(in srgb, var(--color-quaternary), white 60%); /* #DEDDDB */
  --color-quaternary-lighten-4: color-mix(in srgb, var(--color-quaternary), white 75%); /* #EAEAE9 */
  --color-quaternary-lighten-5: color-mix(in srgb, var(--color-quaternary), white 90%); /* #F7F6F6 */


  --color-border: #d1cfcd;
  --theme-button-text-color: var(--color-white);

  /* Success */
  --color-success: #65c179;
  --color-success-dark: #5bae6d;
  --color-success-darkest: #519a61;

  /* Warning */
  --color-warning: #ffba00;
  --color-warning-dark: #e6a700;
  --color-warning-darkest: #cc9500;

  /* Input fields */
  --color-error-input: #c2575e;
  --color-error-dropdown: #cc353e;
  --color-error-text-field: #c2575e;
  --color-checkbox-filled: #e30613;

  /* Error */
  --color-error: #f26d75;
  --color-error-dark: #da626a;
  --color-error-darkest: #c2575e;

  /* Greyscale */
  --color-black: #141414;
  --color-true-black: #000;
  --color-gray-82: #3e3e3e;
  --color-gray-62: #6d6d6d;
  --color-gray-42: #666;
  --color-gray-32: #b2afab;
  --color-gray-25: #c4c4c4;
  --color-gray-20: #cfcdcb;
  --color-gray-16: #d9d9d9;
  --color-gray-11: #e5e5e5;
  --color-gray-8: #f5f5f5;
  --color-gray-6: #f1f1f1;
  --color-white: #fff;
  --color-text: #383838;
  --color-disabled: var(--color-gray-6);
  --color-base-divider: #D1CFCD;

  /* Layout colors */
  --site-background-color: var(--color-white);
}
